@import "~@blueprintjs/core/lib/scss/variables.scss";

.tableNameList {
  padding: 0 10px 50px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  height: 80%;
  width: 70%;
  margin-top: 1%;

}

.cardList {
  padding: 0 0px 10px 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 8% 5%;
  grid-row-gap: 10px;
  height: 90%;
  border: 0px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
}

.projectImg {
  display: flex;
  flex: 1 1 auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-image: url('/erd/img_7.png');
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  background-color: hsl(0, 0%, 90%);
  transition: background-color 300ms;
}

.cardList .name {
  margin-left: 20px;
  min-width: 0;
  font-weight: 500;
  line-height: 20px;
  min-height: 20px;
}

.cardList .time {
  margin-left: 20px;
  color: #b3b3b3;
  min-width: 0;
}

.community {
  position: absolute;
  top: 100px;
}

.body-header-tool {
  padding: 0 32px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-theme {
  background: #30404d;
  color: #f5f8fa;
}

.model-template-tool {
  padding: 0 10px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .head {
    align-items: center;
  }
}

.model-template-list-wrapper {
  flex-grow: 1;
  display: block;
  overflow: auto;
  padding-bottom: 0;
}

.model-template-list-flex {
  padding: 0 10px 24px;
  display: flex;
  flex-direction: column;
}

.model-template-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  gap: 20px;
  padding: 20px;
  height: 100%;

  .item {
    width: 90%;
    height: 90%;
    background-image: url('/erd/img_7.png');
    background-color: rgb(238, 242, 245);
    border-radius: 6px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: -10%;
}

.none-bottom-border {
  border-bottom: none;
}

.none-top-border {
  border: 0px solid #696565;
  border-top: none;
  border-top: none;
  border-left: none;
}

.tabs-height {
  height: 110%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4% auto;
  margin: 0px 12px;
}

.tab-panel-height {
  height: 100%;
}

.table-button-tool-group {
  color: #BFCCD6;

  button {
    outline: none;
    minWidth: 200
  }
}


.none-button-outline {
  outline: none;
}
.handsontable td.dark {
  background: #30404d;
  color: #f5f8fa;
}
