@prefix: pdman;

.@{prefix}-textarea {
  border: 1px solid #ADADAD;
  outline:none;
  &:hover, &:focus {
    border: 1px solid #0784DE;
  }
  &-validate {
    color: red;
    display: block;
    text-align: center;
  }
}