.left-table-tab {
  margin: 10px;

  div {
    flex: 1 1 auto;
    text-align: center;
  }
}

.table-search-input {
  margin: 10px;
}

root {
  height: 264px;
  flexGrow: 1;
  maxWidth: 400px;
}

.tab-text-close {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    width: 80px;
    max-width: 80px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.bp3-menu {
  button {
    outline: none;
  }
}

.left-tree {
  ul {
    max-height: 540px;
    overflow-y: auto;
  }
}

.bp3-tab-panel {
  div {
    .spaces-space {
      margin-top: 80px;
    }
  }
}

.bp3-tab-panel {
  .spaces-space {
    margin-top: 60px;
  }
}

